body{
    background-image: url(art1_b.jpg);
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-attachment: fixed;
    font-family: sans-serif;
    color: white;
}
header{
    height: 10vh;
    width: 100%;
    position: fixed;
    background-image: url(art1_b.jpg);
    background-size: 100%;
}
header nav{
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    font-size: 1.4rem;
    color: white;
}
main{
    padding: 10vh 15vw 0;
}
article h2{
    font-size: 1.8rem;
}
article p{
    font-size: 1.2rem;
    text-align: justify;
}
footer a{
    color: white;
    text-decoration: none;
    padding: 0 6px;
    font-size: 1.2rem;
}
footer{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.gallery img{
    width: 300px;
    margin: 10px 20px;
    transition: 0.3s;
}
.gallery img:hover{
    transform: scale(1.1);
}
.about{
    display: flex;
    justify-content: space-around;
}
.about .card{
    width: 340px;
    background: rgba(255, 0, 0, 0.205);
}
.card_image img{
    width: 100%;
}
.card_title p{
    text-align: center;
    font-size: 1.2rem;
    margin: 5px 0;
}
.card_text{
    text-align: justify;
}