body{
    background: black;
    color: lime;
    font-family: monospace;
}
a{
    text-decoration: none;
    color: lime;
    font-size: 30px;
}
a:hover{
    text-decoration: underline;
    color: rgb(0, 139, 0);
}