html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(black, rgb(48, 48, 48));
    font-family: 'Arvo', serif;
    color: rgb(255, 255, 255);
}
main{
    text-align: center;
}
main h2{
    color: rgb(175, 89, 255);
    padding: 10px;
    border: gray 2px solid;
}
main h2:hover{
        color: violet;
}
audio{
    width: 70%;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 0px;
}
#sus{
    padding: 10px 20px;
    color: red;
    animation: btn-move 0.5s infinite;
}
@keyframes btn-move{
    0%{color: red;}
    50%{color: blue;}
    100%{color: red;}
}
#shak{
    text-decoration: none;
    color: aqua;
}
#shak:hover{
    border: gray 2px solid;
    color: rgb(0, 151, 151);
}
#vsi_prava_zahushcheno{
    color: rgb(255, 255, 255);
}
#gmail{
    color: rgb(255, 255, 255);
}
h1{
    animation:cookie 0.5s infinite;
    color: rgb(197, 130, 130)
}
@keyframes cookie{
    0%{color: rgb(197, 130, 130);}
    50%{color: rgb(0, 255, 98);}
    100%{color: rgb(255, 230, 0);}
}
.assa #kaka665_activate{
    color: white;
    padding: 5px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 5px;
    z-index: 0;
    font-size: 1.2rem;
}
.assa #kaka666_unactivate{
    color: white;
    padding: 5px;
    z-index: 0;
    font-size: 1.2rem;
}
.assa #kaka666_unactivate:hover{
    color: rgb(0, 255, 0);
}
.assa #kaka665_activate:hover{
    color: rgb(0, 255, 0);
}
.assa{
    height: 4vh;
    width: 100%;
    position: fixed;
}
.container h2{
    margin-top: 5vh;
}
#arr_1{
    text-decoration: none;
    font-size: 50px;
    color: rgb(0, 130, 134);
}
#arr_2{
    text-decoration: none;
    font-size: 50px;
    color: rgb(0, 130, 134);
}
footer{
    background: black;
    padding: 0;
    margin: 0 auto;
}
a{
    color: aqua;
    text-decoration: none;
    transition: 0.3s ease;
}
a:hover{
    padding-bottom: 1px;
    border-bottom: 2px solid rgb(255, 255, 90);
}
#babakuy{
    color: rgb(178, 96, 255);
    font-size: 1.3rem;
}
#babakuy:hover{
    color: rgb(103, 44, 158);
}
#image{
    margin-right: 30px;
}
#iamge{
    font-size: 1.3rem;
}
#tudh{
    border-bottom: 0px;
}
#tudh:hover{
    border-bottom: 0px;
}