body{
    font-family: 'Arvo', serif;
    padding: 0px;
    margin: 0px;
    color: rgb(175, 89, 255);
}
.container{
    background-image: url(хомяк.png); 
    min-width: 400px;
    max-width: 2000px;
    text-align: center;
}
.container>h2{
    color: rgb(175, 89, 255);
    padding: 10px;
    border: gray 2px solid;
}
.container>h2:hover{
    color: rgb(255, 27, 255);
}
audio{
    width: 40%;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 0px;
}
#sus{
    padding: 10px 20px;
    color: red;
    animation: btn-move 0.5s infinite;
}
@keyframes btn-move{
    0%{color: red;}
    50%{color: blue;}
    100%{color: red;}
}
a{
    text-decoration: none;
    color: aqua;
}
a:hover{
    border: gray 2px solid;
}
#vsi_prava_zahushcheno{
    color: rgb(0, 0, 0);
}
#gmail{
    color: black;
}
.footer{
    padding: 0;
    margin: 0;
}
h1{
    animation:cookie 0.5s infinite;
    color: rgb(197, 130, 130)
}
@keyframes cookie{
    0%{color: rgb(197, 130, 130);}
    50%{color: rgb(0, 255, 98);}
    100%{color: rgb(226, 34, 34);}
}