body{
    background-color: rgb(237, 255, 230);
    font-family: 'Arvo', serif;
    padding: 0px;
    margin: 0px;
}
div{
    min-width: 400px;
    max-width: 2000px;
    background-color: rgb(194, 194, 194);
    text-align: center;
}
div>h2{
    color: rgb(16, 16, 192);
    padding: 10px;
    border: gray 2px solid;
}
div>h2:hover{
    color: rgb(255, 20, 20);
}
audio{
    width: 40%;
    height: 30px;
    margin-top: 12px;
    margin-bottom: 0px;
}